{% extends 'base.html' %}
{% block container %} 
<!-- Here container is Bootstrap Classes which we are using -->
<!-- If we want to make it use whole page width then we can make it like "container-fluid" -->
<!-- Form  -->
<div class="container my-3">
    <form method="post" action='/'>
        <div class="mb-3">
            <label for="title" class="form-label">Add Todo</label>
            <input type="text" class="form-control" id="add-todo" name="add_todo">
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Discription</label>
            <input type="text" class="form-control" id="discription" name="discription">
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
</div>
<!-- Form end  -->
<!-- Table content to show todos -->
<div class="container my-5">
    <h2>My Todos</h2>
    {% if allTodos | length == 0 %}

    <div class="alert alert-dark" role="alert">
        No Record Added Today
    </div>

    {% else %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">SNo</th>
                <th scope="col">Title</th>
                <th scope="col">Discription</th>
                <th scope="col">Status</th>
                <th scope="col">Time</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in allTodos %}
            <tr>
                <!-- <th scope="row">{{todo.sno}}</th> -->
                <!-- we can use loop.index to counter the misnumbers like if we have deleted the id 9 then it will show like 7,8,10. to overcome it: -->
                <th scope="row">{{ loop.index }}</th>
                <td>{{ todo.title }}</td>
                <td>{{ todo.desc }}</td>
                <td>{{ todo.complete }}</td>
                <td>{{ todo.date_created }}</td>
                <td>
                    <a href="/update/{{todo.sno}}"><button type="button" class="btn btn-dark">Update</button></a>
                    <a href="/delete/{{todo.sno}}"><button type="button" class="btn btn-dark">Delete</button></a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    {% endif %}
</div>
<!-- Table End  -->
{% endblock container %}